{% block forgotpassword %}
<html>
  <head>
    <title>{% block title %} Tilbakestill passord {% endblock %}</title>

    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.production.min.js"></script>
  </head>

  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div id="snackbar" class="alert-{{category}}">{{message}}</div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="row">
      <h3>Tilbakestill passord</h3>
      <form class="col s12" action="/forgotpass" method="POST">
        <div class="row">
          <div class="input-field col s4">
            <input
              id="email"
              name="email"
              type="email"
              class="validate"
            /><label for="email">Epost</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
          Send
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
    <script>
      $(document).ready(function () {
        setTimeout(function () {
          $("#snackbar").fadeOut("slow");
        }, 2000); // <-- time in milliseconds
      });
    </script>
  </body>
</html>
{% endblock %}
